:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #131e2d;
  color: #f7f7f7;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

main {
display: flex;  
}

#palette-form {
  position: sticky;
  top: 20px;
  min-width: 300px;
  background-color: #535bf2;
  max-height: 27.5rem;
  border-radius: 14px;
}

#title-field {
  text-align: center;
}

fieldset{
  margin: 10px;
}

button {
  margin: auto;
}

#palette-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.palette {
  /* border:#ffffff solid 10px; */
  background-color: #798ca7;
  width: 30%;
  text-align: center;
  min-width: 300px;
  border-radius: 14px;
}

.color-preview {
  width: 50%;
  border: black solid 10px;
  border-color: white white black black;
  margin: auto;
  /* margin-bottom: .5rem; */
  text-align: center;
}

.text-string {
  color: #000;
}

ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 50px;
 
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
